{{#contentFor 'body'}}
        <form method="POST" action="/login">
            User : <input type="text" name="username" ><br/>            
            Pass : <input type="text" name="password" ><br/>            
            <input type="submit" value="Send">
        </form>
{{/contentFor}}